body{
    font-family: 微软雅黑,Verdana,Arial;
    font-weight: bold;
}
h1,h2,h3,h4,h5,p{
    margin: 0em;
    padding: 0em;
}
h1{
    font-size: 3.2em;
    margin: 0.3em 0 0;
}
h2{
    font-size: 2.8em;
    margin: 0.24em 0 0;
}
h3{
    font-size: 2.4em;
    margin: 0.18em 0 0;
}
h4{
    font-size: 2.0em;
    margin: 0.12em 0 0;
}
h5{
    font-size: 1.6em;
    margin: 0.06em 0 0;
}
p{
    font-size: 1.2em;
    margin: 0.06em 0 0;

}
a{
    color: #144d5d;
    /*color: #fdfcf9;*/
    text-decoration: none;
}

/*-------------------mobile*/
body{
    margin: 0px;
}
.section{
    padding-top: 20px;
    padding-bottom: 20px;
}
#section3{
    overflow: auto;
}
#section5{
    padding-bottom: 80px;
}